body {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-section {
  width: 100%;
}
.first-section-img {
  height: 100%;
  width: 100%;
}

.first-section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.first-section-text-1,
.first-section-text-2 {
  position: absolute;
  color: white;
  z-index: 2;
}

.first-section-text-1 {
  top: 20%;
  font-size: 27px;
}

.first-section-text-2 {
  top: 30%;
  font-size: 50px;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.second-section img {
  width: 60%;
}

.third-section {
  width: 100%;
}
.third-section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.third-section img {
  height: 100%;
  width: 100%;
}

.third-section-container img {
  position: relative;
}

.fourth-section {
  padding-top: 50px;
  text-align: center;
  font-size: x-large;
  height: 300px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 19%,
    rgb(243, 178, 178) 78%
  );
}

.fifth-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.fifth-section-img {
  width: 220px;
  border: 10px solid red;
  border-radius: 200px;
  padding: 20px;
}

.grid-images {
  width: 95%;
}

.grid-images:hover {
  border-radius: 20px;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.eighth-section {
  background-color: #fde0e0;
  padding: 40px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.footer-section {
  height: 500px;
  background-color: #070211;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-footer-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  color: white;
}

.second-footer-part {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(195, 195, 195);
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 10px;
}

.second-footer-part img {
  width: 40px;
}

.third-footer-part {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}
